@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rhodium Libre', serif;
}
/* navbar section */
nav{
    display: flex;
    justify-content: flex-end;
    margin-top:5px; 
    padding: 1em;
}
#navbar a{
    text-align: center;
    width: 5em;
    height:30px;
    line-height: 30px;
    text-decoration: none;
    color: black;
    transition:all 1s linear;
 }
 #navbar a:hover{
    color:purple;
    background-color:rgb(255,217,144);
    font-weight: bold;
    border-radius: 5px;
}
/* section part */
section{
    background-color: rgb(250,239,246);
    border-bottom: 5px dotted rgb(245, 165, 185);
}
img{
   width: 56%;
   margin:8px 15%;
}
h1{
    margin-top: 10px;
    margin-left: 10px;
}
h6{
    margin-right: 10px;
    text-align: right;
}
.intro img{
    width:70%;
    max-height: 230px;
    margin:8px 10px;

}
p{
    text-align: justify;
    margin: 0 10px;
    line-height: 1.5rem;
}
.intro span{
    font-weight: bolder;
    font-style: italic;
    font-size: 1.2em;
}
#copyright p{
    font-style: italic;
    text-align: right;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .dogintro{display: flex; flex-direction: row; justify-content: center; align-items: center;}
    .intro img{min-height: 220px; min-width: 200px;}
  }
  @media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .intro img{margin:0 30px; max-width:260px;}
    .intro p{margin:0 15px 0 30px;}
    #head img{width:20%; margin:0 33%}
}