*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(img/background.jpg);
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-top:5px; 
    padding: 1em;
}
#navbar a{
   text-align: center;
   width: 5em;
   height:30px;
   line-height: 30px;
   text-decoration: none;
   color: black;
   transition:all 1s linear;
}
#navbar a:hover{
    color:purple;
    background-color:rgb(255,217,144);
    font-weight: bold;
    border-radius: 5px;
    transform:scale(1.5);
}
#contact img{
    width: 60px;
    margin: 10px;

}