*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container section */
.container{
            width: 55%;
            height: 50%;
            margin:200px auto;
            position: relative;
            font-size: 40PX;
            color: PINK;
            text-align: center;
            line-height: 250px;
           }
/* Image section */
.container img{
    width:60%;
    position: absolute;
    left: 20%;
    transform: scale(0);
    opacity: 0;
}
/* Animation */
.flower1{
    animation: magnify 8s linear 1s infinite;
}
 
.flower2{
    animation: magnify 5s linear 2s infinite;
}

.flower3{
    animation: magnify 5s linear 3s infinite;
}

.flower4{
    animation: magnify 5s linear 4s infinite;
}

@keyframes magnify{
    0%{
        transform: scale(0);
        opacity: 0; 
    }

    30%{
        transform: scale(1);
        opacity: 0.5;  
    }

    60%{
        transform: scale(2);
        opacity: 1; 
    }

    100%{
        transform: scale(3);
        opacity: 0.5;
    }
}

/* responsive media queries */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .container{margin-top: 300px;}
    
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .container{height: 100px;}
  }
