*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* background picture */
body{
    background: url(img/background.jpg);
    background-size: cover;
    height: 100vh;
    color: purple;
}
/* navbar section */
#navbar{
    display: flex;
    justify-content: flex-end;
    margin-top:5px; 
    padding: 1em;
}
#navbar a{
   text-align: center;
   width: 5em;
   height:30px;
   line-height: 30px;
   text-decoration: none;
   color: purple;
   transition:all 1s linear;
}
/* hyperlink section changes when tin the hover situation */
#navbar a:hover{
    color:purple;
    background-color:rgb(255,217,144);
    font-weight: bold;
    border-radius: 5px;
    transform:scale(1.5);
}
/* hyperlink section changes when tin the hover situation */
#navbar a:hover{
    color:purple;
    background-color:rgb(255,217,144);
    font-weight: bold;
    border-radius: 5px;
    transform:scale(1.5);
}
#content{
    text-align: center;
}
.introduction img{
    width: 120px;
    margin:5px auto;
}
#about1 h2{
    text-align: center;
}
#about1 a{
    border-radius: 5px;
    border:1px dotted rgb(236, 173, 173);
    background: lightgray;
    text-decoration: none;
    color: purple;
    font-size: 15px;
}
#about1 p{
    margin:0 10px;
    text-align: justify;
    letter-spacing: 1px;  
}
#skill img{
    max-width: 45px;
    max-height: 60px;
}
#subintro a{
    font-size: 25px;
    font-weight: bolder;
    color:rgb(110, 70, 110);
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #content h1{font-size: 40px;}
    #about1 p{margin:0 40px; font-size: 20px;}
    /* #skill {display: flex; flex-direction: row;
        justify-content: center; */
    
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #about1 p{margin:0 100px;}
    #navbar a{font-size: 20px;}
  }